/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

 /* body- header part start */
.body-head{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center; 
    background-color: #2D25A0;
    margin-bottom: 70px;
}
.body-head-section{
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.body-head-title{
    width: 485px;
    height: 230px;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
    padding-right: 102px;
}
.body-head-button{
    width: 168px;
    height: 44px;
    background-color:  #E02C6D;
    
}
.body-head-button a{
    text-decoration: none;
    color: #FFFFFF;
}
.body-head-banner img{
    width: 556px;
    height: 438px;
    padding-top: 153px;
   padding-bottom: 86px;
}

.body-head:hover img{
    transform: scale(1.2);
    transition: 3s ease-in-out 0.2s;
}

/* body- header part end */
/*---------------------------
 main-body-part1 start
  --------------------------*/
.main-body-part1{
    
    display: flex; 
    justify-content: center;
  
}
.main-container{
    width: 1050px;

}
.main-body-section{
    background-color: #F1F1F1;
    
}
.players{
    width: 330px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    height: 474px;
    width: 330px;
    background-color: #FFFFFF;
     margin: 10px 10px 27px 10px;
     overflow: hidden;
   
}

.player img{
    width: 310px;
    height: 260px;
    margin: 10px;
}
.player h3,p{
    margin: 10px;
}
.player{
    font-size: 18px;
}
/*---------------------------
 main-body-part1 end
  --------------------------*/
/* 
/*---------------------------
 main-body-part2 start
  --------------------------*/
 */
 .main-body-part2{
     display: flex;
     justify-content: center;
     
 }
 .main-body-section2{
    font-family: 'Poppins', sans-serif;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     padding-top: 165px;
     
 }

.highlight-info{
    width: 466px;
    height: 309px;
    padding-right: 69px;
    padding-left: 140px;
    animation: highlight-inform 10s linear 2;
}
.highlight-info p{
    font-size: 18px;
    }
.highlight-pic img{
width: 567px;
height: 427px;
animation: highlight-pics 10s linear;
}
/* 
main-body-part2 end
 */


 /* 
footer-section start
 */
.footer-section{
   display: flex;
   justify-content: center;
    padding-top: 158px;
   
}
.footer-info img{
    width: 483px;
    height: 100px;
}
.footer-info{
    width: 483px;
    height: 213px;
    display: grid;
    text-align: center;
}

 /* 
footer-section end
 */

/* animation start */

@keyframes highlight-pics {
    0%{
       transform: translateX(500px);
         
    }
    100%{
        transform: translateX(-1400px);
    }
}
.highlight-pic img{
    animation-delay: 4s;
}


@keyframes highlight-inform {
    0%{
        transform: translateX(-500px);
     }
     100%{
         transform: translateX(1400px);
     }
}
.highlight-info{
    animation-delay: 4s;
}
/* animation end */


 /*-------------------
  media quary start

  responsive for iPhone5/SE
  iPhone 6/7/8
  iphone X
  ------------------ */


 @media only screen and (max-width:695px){
    .body-head{
        width: 360px;
        height: 695px;
        
        flex-direction: column;
    }
    .body-head-section{
    grid-template-columns: repeat(1, 1fr);
       
    }
    .body-head-info{
        padding-left: 16px;
    }
   
    .body-head-title{
        width: 278px;
        height: 138px;
        font-size: 36px;
        line-height: 50px;
        padding: 112px 66px 30px 0px;
   
    }
    .body-head-banner img{
        width: 329px;
        height: 259px;
        padding:50px 16px 61px 15px;
    } 
    .body-head:hover img{
        transform:none;
        
    } 
    /* body- header media quary part end   */
    /*main-body-part1 media quary start*/
    .players{
        
        grid-template-columns: repeat(1, 1fr);
    }
    /*main-body-part1 media quary end*/
    /*main-body-part2 media quary start*/
    .main-body-section2{
       
         grid-template-columns: repeat(1, 1fr);
         padding-top: 0px;
        
         
     }
     .highlight-info{
        width: 329px;
        height: 299px;
        padding:60px 16px 150px 15px;
       
    }
    .highlight-info h1{
        font-size: 30px;
    }
    .highlight-info p{
        font-size: 16px;
    }
    
    .highlight-pic img{
        width: 328px;
        height: 248px;
        padding-top:30px 16px ;
        
        
        }
    /*main-body-part1 media quary end*/
     /*footer media quary start*/
        .footer-section{
            
             padding-top: 43px;
            
         }
        .footer-info{
            width: 275px;
            height: 213px;
            
           
        }
        
        .footer-info img{
            width: 275px;
            height: 50px;
            

        }
        .icons{
            width: 170px;
            height: 32px;
            padding-left: 55px;
        }
        .footer-section p{
            
            font-size: 16px;
         }
         /*footer media quary end*/
}


/* ---------------------------------for tablet/Notepad /ipad---------------------------------*/


@media only screen and (min-width:695px) and (max-width :992px){
    .body-head{
        width: 100%;
       
        flex-direction: column;
    }
    .body-head-section{
    grid-template-columns: repeat(1, 1fr);
       
    }
    .body-head-info{
        padding:112px 0px 80px 90px;
    }
    .body-head-banner img{
       
        padding:50px 0px 100px 90px;
    } 
    .body-head:hover img{
        transform: scale(1.2);
        transition: 3s ease-in-out 0.2s;
    } 
    
/* body- header media quary part end   */
    /*main-body-part1 media quary start*/
    .players{
        padding-left: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
/*main-body-part2 media quary start*/
.main-body-section2{
       
    grid-template-columns: repeat(1, 1fr);
    padding-top: 10px;
    padding-left: 64px;
   
    
}

/* heighlight info start for pad*/
.highlight-info{
    
    padding:20px 20px 20px 50px;
    
}
/* heighlight info end for pad */
   }